.form-container-cust {
    display: none;
    margin-left: 5%;
}

.form-container-payment{
    margin-left: 5%;
    display: none;
}

.card {
    background-color: #be70ca99 ;
    height: 500px;
}

.container-lg {
    height: 500px;
    background-color: #e53aff99;
}

.textContain {
    text-align: center;
    padding-top: 180px;
    color: white;
}

.card-title {
    color:white;
}

small {
    color: white;
}
.card-header {
    color: white;
    background-color: #8b129e99;
}

.list-unstyled {

    line-height: 40px;
}

button[value="premium"]{
    margin-top: 10%;
}

button[value="active"]{
    margin-top: 30%;
}

button[value="elite"]{
    margin-top: 30%;
}

button[value="basic"]{
    margin-top: 20%;
}

#confirmation {
    display: none;
}


.btn-lg:hover {
    background-color: #c81fe2;
    color: white;
}